<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script>

    function startServerAndListen()
    {
        var xmlhttp;
        if (window.XMLHttpRequest)
        {
            //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
            xmlhttp=new XMLHttpRequest();
        }
        else
        {
            // IE6, IE5 浏览器执行代码
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }

        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
                document.getElementById("myDiv2").innerHTML="服务器已开启";

        };


        xmlhttp.open("GET", 'start_server', true);
        xmlhttp.send();
    }
</script>
</head>
<body>

<div id="myDiv1"><h2>车辆监控平台</h2></div>
<button type="button" onclick="window.location.href='http://127.0.0.1:5000/'">返回主页</button>
<div id="myDiv2"><h2>{{ message_to_show }}</h2></div>
<button type="button" onclick="startServerAndListen()">开启服务器并监听</button>



</body>
</html>