<!DOCTYPE HTML>
<html>
<head>
    <title>Socket-Test</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            namespace = '/test';
            var socket = io(namespace);

            socket.on('my_response', function(msg, cb) {
                $('#log').append('<br>' + $('<div/>').text('logs #' + msg.count + ': ' + msg.data).html());
                if (cb)
                    cb();
            });

            $('form#start_server').submit(function(event) {
                socket.emit('start_server');
                return false;
            });
        });
    </script>
</head>
<body style="background-color:white;">

    <h1 style="background-color:white;">Socket</h1>
    <button type="button" onclick="window.location.href='http://127.0.0.1:5000/'">返回主页</button>

    <form id="start_server" method="POST" action="#">
        <input type="submit" value="Start Server">
    </form>

    <h2 style="background-color:white;">Logs</h2>
    <div id="log" ></div>
</body>
</html>
